 (function($) { ${appendPreviewImage}
                ${bodyForJsFunction}
                $('#${markupId}').Jcrop({
                ${settings}} ${renderApiController});
                })(jQuery);

